<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.hand.bean"/>
    </typeAliases>
    <!-- mapping 文件路径配置 -->
    <mappers>
        <mapper resource="mybatis/mapping/customer_mapper.xml" />
        <mapper resource="mybatis/mapping/address_mapper.xml"/>
    </mappers>
</configuration>